.row {
  margin-bottom: 1em;
}

form .row label {
  display: inline-block;
  min-width: 10em;
}


.infoMessage {
  font-weight: bold;
}

.errorMessage {
  font-weight: bold;
  background-color: red;
  color: white;
}
